@import url("https://fonts.googleapis.com/css2?family=Duru+Sans&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

nav {
  background-color: #171d25;
  height: 104px;
}
nav .nav_logo img {
  height: 44px;
  width: 174px;
}
nav .nav_menu ul li a {
  font-size: 16px;
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  color: #dcdedf !important;
}
nav .nav_menu ul li a.active {
  color: #1a9fff !important;
  position: relative;
}
nav .nav_menu ul li a.active::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  display: block;
  background-color: #1a9fff;
  border-radius: 3px;
  left: 0;
  bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
nav .nav_user {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: -70px;
}
nav .nav_user .install_btn a {
  padding: 3px 9px 3px 35px;
  font-size: 11px;
  font-weight: normal;
  color: #b8b6b4;
  background-position: 10px 4px;
  background-image: url(https://store.fastly.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1);
  background-repeat: no-repeat;
  background-color: #5c7e10;
  font-family: "Noto Sans", sans-serif;
  text-transform: capitalize;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
nav .nav_user .install_btn a:hover {
  color: #fff;
  background-color: #759f1c;
}
nav .nav_user a {
  color: #b8b6b4;
  font-size: 11px;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  text-transform: lowercase;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
nav .nav_user a:hover {
  color: #fff;
}
nav .nav_user span {
  color: #b8b6b4;
  font-size: 11px;
}

#feature {
  position: relative;
  padding: 150px 0 50px;
  background-color: #1b2838;
}
#feature .feature_side_menu {
  position: fixed;
  left: 12%;
  z-index: 2;
}
#feature .feature_side_menu .steam_gift_card {
  margin-bottom: 25px;
}
#feature .feature_side_menu .steam_gift_card img {
  padding-bottom: 6px;
}
#feature .feature_side_menu .steam_gift_card h5 {
  color: #88bde9;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  padding-bottom: 2px;
}
#feature .feature_side_menu .steam_gift_card p {
  font-size: 16px;
  font-weight: 550;
  font-family: "Noto Sans", sans-serif;
  color: #a4b3c4;
  text-transform: capitalize;
}
#feature .feature_side_menu .steam_gift_card:hover h5, #feature .feature_side_menu .steam_gift_card:hover p {
  color: #dddddd;
}
#feature .feature_side_menu .feature_side_menus .inner_body {
  margin-bottom: 20px;
}
#feature .feature_side_menu .feature_side_menus .inner_body h5 {
  color: #536f86;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  padding-bottom: 10px;
}
#feature .feature_side_menu .feature_side_menus .inner_body ul {
  padding: 0;
}
#feature .feature_side_menu .feature_side_menus .inner_body ul li a {
  font-size: 16px;
  color: #7a8b9d;
  font-weight: 550;
  font-family: "Noto Sans", sans-serif;
  padding: 2px 0;
  text-transform: capitalize;
}
#feature .feature_side_menu .feature_side_menus .inner_body ul li a:hover {
  color: #66c0f4;
}
#feature .feature_menu nav {
  height: 49px;
  background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
}
#feature .feature_menu nav ul li {
  padding: 0 15px;
}
#feature .feature_menu nav ul li a {
  font-size: 13px;
  font-weight: bold;
  color: #d9dadd;
  font-family: "Open Sans", serif;
  text-transform: capitalize;
}
#feature .feature_menu nav ul li:hover {
  background: linear-gradient(90deg, #1a62b5, rgba(179, 223, 255, 0));
}
#feature .feature_menu form input {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  font-family: "Noto Sans", sans-serif;
  background-color: #316282;
  border: none;
  margin-top: 1px;
}
#feature .feature_menu form input:hover {
  border: 1px solid #4c9acc;
}
#feature .feature_body {
  padding: 40px 0;
}
#feature .feature_body .feature_body_head {
  padding-bottom: 12px;
}
#feature .feature_body .feature_body_head h2 {
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
}
#feature .feature_body h5 {
  font-size: 24px;
  font-weight: 300;
  font-family: "Noto Sans", sans-serif;
  color: #fff;
  padding-bottom: 4px;
}
#feature .feature_bottom {
  padding: 40px 0;
}
#feature .feature_bottom img:hover {
  box-shadow: 0 0 10px #66c0f4;
}

#offer {
  padding: 0 0 50px;
  background-color: #1b2838;
}
#offer .offer_head {
  padding-bottom: 10px;
}
#offer .offer_head h3 {
  font-size: 18px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
#offer .offer_head a {
  padding: 0 15px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
}
#offer .offer_body .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -50px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
}
#offer .offer_body .carousel-indicators [data-bs-target] {
  width: 15px;
  height: 9px;
}
#offer .offer_body a {
  display: block;
}
#offer .offer_body .extra_offer_body .card {
  border: 1px solid rgba(0, 0, 0, 0.633);
  background-color: transparent;
}
#offer .offer_body .extra_offer_body .card .card-body h5 {
  font-size: 14px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
  color: #fff;
  padding-bottom: 10px;
  text-transform: uppercase;
  margin: 0;
}
#offer .offer_body .extra_offer_body .card .card-body p {
  font-size: 12px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
  color: #acdbf5;
  margin: 0;
  padding-bottom: 6px;
}
#offer .offer_body .extra_offer_body .card .card-body .deal_price {
  padding: 16px;
}
#offer .offer_body .extra_offer_body .card .card-body .deal_price .col-lg-3 {
  padding: 0;
}
#offer .offer_body .extra_offer_body .card .card-body .deal_price .discount {
  background-color: #4c6b22;
  height: 40px;
  padding: 0 5px;
}
#offer .offer_body .extra_offer_body .card .card-body .deal_price .discount h6 {
  font-size: 26px;
  font-weight: 500;
  font-family: "Noto Sans", sans-serif;
  color: #beee11;
  line-height: 40px;
}
#offer .offer_body .extra_offer_body .card .card-body .deal_price .discount_price {
  background-color: #344654;
  height: 40px;
  padding-right: 5px;
}
#offer .offer_body .extra_offer_body .card .card-body .deal_price .discount_price span {
  position: relative;
  font-size: 11px;
  color: #738895;
  font-weight: 300;
  font-family: "Noto Sans", sans-serif;
}
#offer .offer_body .extra_offer_body .card .card-body .deal_price .discount_price span::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 43%;
  border-bottom: 1.5px solid #738895;
  transform: skewY(-8deg);
  -webkit-transform: skewY(-8deg);
  -moz-transform: skewY(-8deg);
  -ms-transform: skewY(-8deg);
  -o-transform: skewY(-8deg);
  box-shadow: 0 0 2px black;
}
#offer .offer_body .extra_offer_body .card .card-body .deal_price .discount_price p {
  font-size: 15px;
  color: #beee11;
  font-weight: 300;
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
}
#offer .offer_body .extra_offer .card {
  border: 1px solid rgba(0, 0, 0, 0.633);
  background: linear-gradient(to bottom, #ffffff 5%, #abdaf4 95%);
}
#offer .offer_body .extra_offer .card .card-body {
  padding: 8px;
}
#offer .offer_body .extra_offer .card .card-body .today_deal p {
  font-size: 14px;
  color: #283846;
  font-family: "Open Sans", serif;
  font-weight: normal;
}
#offer .offer_body .extra_offer .card .card-body .deal_price {
  padding: 0 16px 0;
}
#offer .offer_body .extra_offer .card .card-body .deal_price .col-lg-6 {
  padding: 0;
}
#offer .offer_body .extra_offer .card .card-body .deal_price .discount {
  background-color: #4c6b22;
  height: 40px;
  padding: 0 5px;
}
#offer .offer_body .extra_offer .card .card-body .deal_price .discount h6 {
  font-size: 26px;
  font-weight: 500;
  font-family: "Open Sans", serif;
  color: #beee11;
  line-height: 40px;
}
#offer .offer_body .extra_offer .card .card-body .deal_price .discount_price {
  background-color: #344654;
  height: 40px;
  padding-right: 5px;
}
#offer .offer_body .extra_offer .card .card-body .deal_price .discount_price span {
  position: relative;
  font-size: 11px;
  color: #738895;
  font-weight: 300;
  font-family: "Open Sans", serif;
}
#offer .offer_body .extra_offer .card .card-body .deal_price .discount_price span::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 43%;
  border-bottom: 1.5px solid #738895;
  transform: skewY(-8deg);
  -webkit-transform: skewY(-8deg);
  -moz-transform: skewY(-8deg);
  -ms-transform: skewY(-8deg);
  -o-transform: skewY(-8deg);
  box-shadow: 0 0 2px black;
}
#offer .offer_body .extra_offer .card .card-body .deal_price .discount_price p {
  font-size: 15px;
  color: #beee11;
  font-weight: 300;
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
}

#category {
  padding: 80px 0;
  background-color: #1b2838;
}
#category .cate_head {
  padding-bottom: 16px;
}
#category .cate_head h2 {
  font-size: 18px;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
#category .cate_body .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -50px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
}
#category .cate_body .carousel-indicators [data-bs-target] {
  width: 15px;
  height: 9px;
}
#category .cate_body a {
  display: block;
}
#category .cate_body .cate_inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#category .cate_body .cate_inner img {
  border-radius: 10px;
  transition: 0.5s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#category .cate_body .cate_inner .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  left: 0;
  top: 0;
  padding-top: 180px;
  background: radial-gradient(115% 120% at 0% 0%, transparent, #2880a6);
  transition: 0.5s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#category .cate_body .cate_inner .overlay h5 {
  font-size: 24px;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  color: #2881a7;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #fff;
  text-transform: uppercase;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin: 0 auto;
}
#category .cate_body .cate_inner:hover img {
  transform: scale(1.05);
  filter: brightness(1.1);
}
#category .cate_body .cate_inner:hover .overlay {
  padding-top: 230px;
  background: radial-gradient(115% 120% at 0% 0%, transparent, rgba(40, 128, 166, 0.5));
}

#user {
  padding-bottom: 130px;
  background-color: #1b2838;
}
#user .user_main {
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
#user .user_main p {
  font-size: 16px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
  color: #8f98a0;
}
#user .user_main .user_signin {
  padding-bottom: 20px;
}
#user .user_main .user_signin a {
  font-size: 16px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
  color: #d2e885;
  background: linear-gradient(to bottom, #a4d007 5%, #536904 95%);
  padding: 6px 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
#user .user_main a {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
}

#browse {
  padding: 50px 0 80px;
  background: linear-gradient(180deg, #2a475e 0%, #1b2838 80%);
}
#browse .browse_body {
  margin-top: -88px;
}
#browse .browse_body nav {
  background-color: transparent;
  height: auto;
}
#browse .browse_body nav .nav-tabs {
  border-bottom: none;
  --bs-nav-tabs-link-active-bg: #2a475e;
  --bs-nav-tabs-link-active-border-color: transparent;
}
#browse .browse_body nav button {
  font-size: 14px;
  color: #4f94bc;
  font-family: "Open Sans", serif;
  font-weight: normal;
  text-transform: capitalize;
}
#browse .browse_body .tab-content {
  margin-top: 10px;
}
#browse .browse_body a {
  display: block;
}
#browse .browse_body .browse_item_discount .card {
  background: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
#browse .browse_body .browse_item_discount .card .card-body .item_info h5 {
  font-size: 20px;
  font-family: "Open Sans", serif;
  color: #c7d5e0;
  font-weight: normal;
  text-transform: capitalize;
}
#browse .browse_body .browse_item_discount .card .card-body .item_info img {
  height: 20px;
  width: 20px;
  opacity: 0.3;
  display: block;
}
#browse .browse_body .browse_item_discount .card .card-body .item_info span {
  font-size: 12px;
  color: #5e6d7c;
  font-family: "Open Sans", serif;
  font-weight: normal;
  text-transform: capitalize;
}
#browse .browse_body .browse_item_discount .card .card-body .discount_per h6 {
  display: inline-block;
  padding: 6px 8px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Duru Sans", sans-serif;
  color: #beee11;
  background-color: #4c6b22;
}
#browse .browse_body .browse_item_discount .card .card-body .discount_price {
  position: relative;
}
#browse .browse_body .browse_item_discount .card .card-body .discount_price span {
  position: relative;
  font-size: 11px;
  color: #738895;
  font-weight: 300;
  font-family: "Open Sans", serif;
}
#browse .browse_body .browse_item_discount .card .card-body .discount_price span::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 43%;
  border-bottom: 1.5px solid #738895;
  transform: skewY(-8deg);
  -webkit-transform: skewY(-8deg);
  -moz-transform: skewY(-8deg);
  -ms-transform: skewY(-8deg);
  -o-transform: skewY(-8deg);
  box-shadow: 0 0 2px black;
}
#browse .browse_body .browse_item_discount .card .card-body .discount_price h6 {
  font-size: 16px;
  font-family: "Open Sans", serif;
  color: #beee11;
  font-weight: normal;
  padding-bottom: 20px;
}
#browse .browse_body .browse_item_discount .card .card-body .discount_price p {
  font-size: 11px;
  font-family: "Open Sans", serif;
  color: #4c6c8c;
  font-weight: normal;
  margin-bottom: 0;
  text-transform: capitalize;
}
#browse .browse_body .browse_item_discount:hover {
  background: linear-gradient(to right, #c6e6f8 5%, #95bcd3 95%);
}
#browse .browse_body .browse_item_discount:hover .card-body .item_info h5 {
  color: #10161b;
}
#browse .browse_body .browse_item_discount:hover .card-body .discount_price h6 {
  color: #263645;
}
#browse .browse_body .browse_item .card {
  background: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
#browse .browse_body .browse_item .card .card-body .item_info h5 {
  font-size: 20px;
  font-family: "Open Sans", serif;
  color: #c7d5e0;
  font-weight: normal;
  text-transform: capitalize;
}
#browse .browse_body .browse_item .card .card-body .item_info img {
  height: 20px;
  width: 20px;
  opacity: 0.3;
  display: block;
}
#browse .browse_body .browse_item .card .card-body .item_info span {
  font-size: 12px;
  color: #5e6d7c;
  font-family: "Open Sans", serif;
  font-weight: normal;
  text-transform: capitalize;
}
#browse .browse_body .browse_item .card .card-body .discount_price h6 {
  font-size: 16px;
  font-family: "Open Sans", serif;
  color: #fff;
  font-weight: normal;
  padding: 15px 0;
}
#browse .browse_body .browse_item .card .card-body .discount_price p {
  font-size: 11px;
  font-family: "Open Sans", serif;
  color: #4c6c8c;
  font-weight: normal;
  margin-bottom: 0;
  text-transform: capitalize;
}
#browse .browse_body .browse_item:hover {
  background: linear-gradient(to right, #c6e6f8 5%, #95bcd3 95%);
}
#browse .browse_body .browse_item:hover .card-body .item_info h5 {
  color: #10161b;
}
#browse .browse_body .browse_item:hover .card-body .discount_price h6 {
  color: #263645;
}
#browse .browse_body .see_more {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px;
}
#browse .browse_body .see_more p {
  font-size: 12px;
  font-family: "Open Sans", serif;
  font-weight: normal;
  color: #c6d4df;
  margin-bottom: 0;
}
#browse .browse_body .see_more a {
  font-style: 14px;
  font-family: "Open Sans", serif;
  font-weight: 500;
  padding: 6px 15px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
#browse .browse_body .see_more a:hover {
  border-color: #fff;
}

#recommendations {
  padding: 20px 0;
  background-color: #000;
}
#recommendations .recommendations_head p {
  font-size: 12px;
  font-family: "Open Sans", serif;
  color: #c6d4df;
  font-weight: normal;
}
#recommendations .recommendations_main {
  padding-top: 16px;
  background: rgba(0, 0, 0, 0.2);
}
#recommendations .recommendations_main p {
  font-size: 16px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
  color: #8f98a0;
}
#recommendations .recommendations_main .user_signin {
  padding-bottom: 20px;
}
#recommendations .recommendations_main .user_signin a {
  font-size: 16px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
  color: #d2e885;
  background: linear-gradient(to bottom, #a4d007 5%, #536904 95%);
  padding: 6px 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
#recommendations .recommendations_main a {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  font-family: "Noto Sans", sans-serif;
}

#footer {
  padding: 16px 0 60px;
  background-color: #171a21;
}
#footer .footer_body {
  padding: 9px 0 14px;
  border-top: 1px solid #363c44;
  border-bottom: 1px solid #363c44;
}
#footer .footer_body img {
  height: 25px;
  width: auto;
}
#footer .footer_body p {
  font-size: 16px;
  color: #8f98a0;
  font-family: "Open Sans", serif;
  font-weight: normal;
  margin-bottom: 0;
}
#footer .footer_body a {
  color: #c6d4df;
  text-transform: capitalize;
}
#footer .footer_bottom {
  padding: 20px 10px 0 10px;
}
#footer .footer_bottom a {
  font-size: 16px;
  font-family: "Duru Sans", sans-serif;
  font-weight: normal;
  color: #c6d4df;
}
#footer .footer_bottom a:hover {
  color: #fff;
}/*# sourceMappingURL=style.css.map */