@import url("https://fonts.googleapis.com/css2?family=Duru+Sans&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

$opensans_font: "Open Sans", serif;
$notosans_font: "Noto Sans", sans-serif;
$durusans_font: "Duru Sans", sans-serif;

*,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}
